:root {
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --aux-font: 'Roboto Condensed', sans-serif;
}

body {
  width: 700px;
  padding: 25px 50px;
  margin: 0 auto;
  text-align: left;
  font-family: var(--header-font);
  overflow: auto;
}

p {
  margin: 25px 0;
  text-align: justify;
  font-size: 1.0em;
  font-family: var(--body-font);
  color: #4d4d4d;
}

h1 {
  float: left;
  margin: 43px 0 10px 0;
  font-size: 3.0em;
  font-family: var(--header-font);
  font-weight: 900;
}

.hide h2 { display: none; }

.heading > p {
  float: right;
  margin: 35px 0 0 0;
  text-align: right;
  font-weight: bold;
}

.heading-them > p {
  padding-left: 10px;
  border-left: 5px solid #ccc;
}

.divider {
  position: relative;
  min-height: 24px;
  margin-top: 5px;
  margin-bottom: -5px;
  clear: left;
} 

.divider:after {
  position: absolute;
  left: 0;
  top: 62.5%;
  z-index: 0;
  display: block;
  height: 1px;
  width: 100%;
  content: "";
  background: #ccc;
}

img { height: 80px; }